* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
body {
    min-height: 100vh;
    height: 100vw;
}
/* CARD */
.card-container {
    height: 400px;
    width: 340px;
    margin: 120px auto;
    box-shadow: 4px 4px 15px black;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0; */
    gap: 20px;
}

/* COLORS */
.colors {
    height: 27%;
    width: 100%;
    padding: 70px 0;
    background-color: gray;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 9px;
}
.cell {
    height: 90px;
    width: 90px;
    border: 5px solid #0a100d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color, .red, .yellow, .green{
    height: 68px;
    width: 68px;
    margin: 5px auto;
    background-color: aqua;
}
.red-color {
    background-color: red;
}
.yellow-color {
    background-color: #ffea00;
}
.green-color {
    background-color: #7cce7c;
}

/* TIME */
.time {
    margin: 10px auto;
    height: 128px;
    border: 5px solid black;
    width: 100%;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.time-text, .time-numbers {
    width: 100%;
    text-align: center;
    font-size: 1.20rem;
}
.time-numbers {
    padding: 0;
    font-size: 2.8rem;
}

/* BUTTONS */
.btns {
    height: 60px;
    width: 110px;;
    background-color: lightblue;
}
.btn {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
}
